// Global styles

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: $default-color;
  @extend %dms-regular;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}
