// Variables
$accent-color: #436372;
$default-color: #585858;
$title-color: #243f4d;
$btn-color: #a3bbc8;
$bg-color: #fcd7b6;

%dms-regular {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
}

%dms-bold {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
}
