<!DOCTYPE html>
<html lang="en">

<head>
  <title>Start</title>
  <meta name="description" content="DESCRIPTION" />
  <meta name="keywords" content="KEYWORD" />

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="css/style.min.css" />

</head>

<body>
  <div class="wrapper">
    @@loop('templates/components/_header.html',[{
    "title":"header title"
    }])
    <div class="up" style="background: url('images/dest/up.png') no-repeat top left;"></div>
    <main class="main">



    </main>

    @@include('templates/components/_footer.html')

  </div>
  <script src="js/main.min.js"></script>
</body>

</html>