@import "libs";
@import "reset";
@import "vars";
@import "mixin";
@import "fonts";
@import "global";
@import "pages/404";
@import "components/header";
@import "components/footer";

body {
  background-color: green;
}
